.bar
{
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.pro
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 10%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}